body {
    background-color: #f2ebe5;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #b88a6a;
}

p {
    color: #6b4c3b;
}

a {
    color: #b88a6a;
}


a:hover {
    color: #e1526d ;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}
table {
    border: 3px solid #e1526d;
}

 tr, td {
    color: #6b4c3b;
}

h3 {
    text-align: center;
}

li {
    color: #6b4c3b;
}

p {
    font-size: 18px;
    text-align: center;
}
