body {
    background-color: #f2ebe5;
    font-family: Arial;
}

h1, h2 {
    color: #b88a6a;
}

p {
    color: #6b4c3b;
}

a {
    text-decoration: none;
    color: #b88a6a;
}

.linha {
    border-bottom: 2px solid #b88a6a;
    height: 10px;
}

img {
    border-radius: 10px;
}